* {
	margin: 0;
	padding: 0;
}

nav {
	width: 500px;
	margin: 10px auto;
	padding: 10px;
}

nav.dark {
	background-color: #333;
}

nav.dark a {
	color: white;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

nav a {
	text-decoration: none;
}